/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
Gemfile.*.lock
log/
*.sqlite3
/test/dummy_app/tmp/cache/
/test/dummy_app/tmp/html/
/test/dummy_app/tmp/development_secret.txt
